<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>
    <h1 th:text="${article.title}"></h1>

    <div th:text="${article.content}"></div>

    <form th:action="@{'/articles/delete/' + ${article.id}}" method="post">
        <label>
            비밀번호 : <input type="password" name="password">
        </label>
        <input type="submit" value="게시글삭제">
    </form>

    <h5>해시 태그</h5>
    <div th:each="hashtag : ${hashtags}">
        <a th:href="@{/hashtags/search(hashtag=${hashtag.content})}">[[${hashtag.content}]]</a>
    </div>

    <h5>댓글 달기</h5>
    <form action="/comments" method="post">
        <div>
            <label for="password-input">Password</label>
            <input type="password" name="password" id="password-input">
        </div>
        <div>
            <label for="content-area">Content</label>
            <textarea cols="30" rows="3" name="content" id="content-area"></textarea>
        </div>

        <input type="hidden" name="articleId" id="articleId-input" th:value="${article.id}">
        <input type="submit" value="작성">
    </form>

    <div th:each="comment : ${comments}">
        <form th:action="@{'/comments/delete/' + ${comment.id}}" method="post">
            <div th:text="${comment.content}"></div>
            <label>
                비밀번호 : <input type="password" name="password">
            </label>
            <input type="submit" value="댓글삭제">
        </form>
    </div>

</body>
</html>