<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="board : ${boards}">
        <a th:href="@{'/boards/'+${board.id}}">[[${board.type}]]</a>
    </div>
    <br>
    <div th:each="article : ${articles}">
        <a th:href="@{'/articles/'+${article.id}}">[[${article.title}]]</a>
    </div>

    <form method="get" action="/articles/search">
        <input type="text" name="searchText">
        <input type="submit" value="검색">
    </form>
</body>
</html>